	@import url(http://fonts.googleapis.com/css?family=Open+Sans&subset=latin,cyrillic);

   .head{ 
		text-align: center;
		font-size: 30pt;
		font-family:'Open Sans';
		font-style:condensed;
    }
	body{
		font-family:'Open Sans';
		font-style:condensed;
	}
	.bkt{
		color: blue;
		font-size: 40pt;
	}
	.menu{
		font-family:"Open Sans";
		text-align: center;
		width: 800px;
		height: 55px;
		padding-top: 5px;
	}
	.content{
		width: 900px;
	}
	.but{
		text-decoration: none;
		color: purple;
		font-size: 20pt;
		margin-right:50px;
		margin-left:50px;
		text-decoration: none; 
	}
	.but:hover{
		text-decoration: none;
		color: purple;
	}
	.LH{
		font-size: 25pt;
		text-decoration: none;
		color: purple;
	}
	.code{
		background: d6fdfc;
		color: 000e38;
	}
	.news{
		font-size: 20pt;
	}
	.pos{
		margin-top: 50px;
		padding: 10px;
		width: 59%;
		text-align: left;
	}
	
	