	body {
		background: url(image/fon.png) no-repeat #fff;
	}   
   .head{ 
		text-align: center;
		font-size: 30pt;
    }
	.bkt{
		color: blue;
		font-size: 40pt;
	}
	.menu{
		border-radius: 10px;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px; 
  
		text-align: center;
		width: 50%;
		height: 55px;
		margin-left: 25%;
		padding-top: 5px;
	}
	.posts{
		margin-left: 30%;
	}
	.but{
		text-decoration: none;
		color: blue;
		font-size: 20pt;
		margin-right:50px;
		margin-left:50px;
		text-decoration: underline; 
	}
	.but:hover{
		text-decoration: none;
		color: blue;
	}
	.LH{
		font-size: 25pt;
		text-decoration: none;
		color: blue;
	}
	.LH:hover{
		text-decoration: underline; 
		color: blue;
		background: #f7ffff;
	}
	.code{
		background: d6fdfc;
		color: 000e38;
	}
	.news{
		font-size: 20pt;
	}
	.pos{
		margin-top: 50px;
		border-left: 4px double #c3ffed;
		border-right: 4px double #c3ffed;
		width: 60%;
		text-align: left;
	}
	hr{
		color: #c3ffed;
	}
	
	.button {
	/* Damit unser Button, per "top" verschoben werden kann */

	position: relative;
	display: inline-block;

	/* Der Button soll mindestens 150px breit sein. Auch werden hier
	die Innen- und Aussenabstande festgelegt */

	min-width: 150px;
	padding: 10px 15px;
	margin: 0px 10px;

	/* Unser fallback, sollte der Browser keine linear-gradients unterstutzen */

	background-color: #3E9ED6;
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, rgb(112,181,242)),
		color-stop(0.49, rgb(84,164,238)),
		color-stop(0.5, rgb(54,144,240)),
		color-stop(1, rgb(26,97,219))
	);
	background-image: -moz-linear-gradient(
		center top,
		rgb(112,181,242) 0%,
		rgb(84,164,238) 49%,
		rgb(54,144,240) 50%,
		rgb(26,97,219) 100%
	);

	/* Anweisungen fut das Aussehen des Textes */

	color: #fff;
	font-weight: bold;
	font-size: 14px;
	text-decoration: none;
	text-align: center;
	line-height: 1;
	/* Wir definieren einen Schatten fur den Text, den wir um 1px nach oben verschieben
	und aus einem 50% Schwarz besteht. Das gibt den Anschein, als ware der Text in den
	Button eingraviert */
	text-shadow: 0px -1px 0px rgba(0,0,0,0.5);

	/* Hier wird der Rahmen fur unseren Button definiert und auch die abgerundeten Ecken
	(auch hier verwenden wir wieder die "vendor-prefixes" */

	border: 1px solid;
	border-color: #2f71a3 #265a82 #1e4766 #265a82;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;

	/* Diese CSS3-Eigenschaft ist besonders spannend:
	Wie man hier sehen kann, konnen wir mehr als nur einen Schatten definieren.
	Insgesamt sind es 6 Schatten, die unserem Button das Aussehen verleihen.
	(2 innere Schatten, die einen weissen Schein in den Button legen,
	 3 Schatten, die die visuelle, 3-dimensionale Hohe des Buttons bestimmen (immer in 2px Abstanden)
	 und einen Schatten, der, den eigentlichen Schattenwurf simuliert.)
	Mit dem Wort "inset" konnen wir den Schatten in das Innere der Box verlegen.*/

	box-shadow: 		inset 0px -4px 5px rgba(255,255,255,0.2),
						inset 0px 1px 5px rgba(255,255,255,0.2),
						/**/
						0px 2px 0px #1e4766,
						0px 4px 0px #1e4766,
						0px 6px 0px #1e4766,
						/**/
						0px 8px 5px rgba(0,0,0,0.5);

	-moz-box-shadow: 	inset 0px -4px 5px rgba(255,255,255,0.2),
						inset 0px 1px 5px rgba(255,255,255,0.2),
						/**/
						0px 2px 0px #1e4766,
						0px 4px 0px #1e4766,
						0px 6px 0px #1e4766,
						/**/
						0px 8px 5px rgba(0,0,0,0.5);

	-webkit-box-shadow: inset 0px -4px 5px rgba(255,255,255,0.2),
						inset 0px 1px 5px rgba(255,255,255,0.2),
						/**/
						0px 2px 0px #1e4766,
						0px 4px 0px #1e4766,
						0px 6px 0px #1e4766,
						/**/
						0px 8px 5px rgba(0,0,0,0.5);
}
.button:hover {
	background-color: #8AC5FD;

	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, rgb(134,193,253)),
		color-stop(0.49, rgb(153,213,255)),
		color-stop(0.5, rgb(130,194,253)),
		color-stop(1, rgb(108,170,229))
	);
	background-image: -moz-linear-gradient(
		center top,
		rgb(134,193,253) 0%,
		rgb(153,213,255) 49%,
		rgb(130,194,253) 50%,
		rgb(108,170,229) 100%
	);
}
.button:active {
	top: 4px;
	box-shadow: 		inset 0px 4px 5px rgba(255,255,255,0.4),
						inset 0px -1px 5px rgba(255,255,255,0.2),
						/**/
						0px 2px 0px #1e4766,
						/**/
						0px 4px 5px rgba(0,0,0,0.5);

	-moz-box-shadow: 	inset 0px 4px 5px rgba(255,255,255,0.4),
						inset 0px -1px 5px rgba(255,255,255,0.2),
						/**/
						0px 2px 0px #1e4766,
						/**/
						0px 4px 5px rgba(0,0,0,0.5);

	-webkit-box-shadow: inset 0px 4px 5px rgba(255,255,255,0.4),
						inset 0px -1px 5px rgba(255,255,255,0.2),
						/**/
						0px 2px 0px #1e4766,
						/**/
						0px 4px 5px rgba(0,0,0,0.5);
}